<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{index :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>User Entry</title>
    <script type="text/javascript">
        $(document).ready(function (){
        });
    </script>
</head>
<body>
<div th:fragment="main">
    <link rel="stylesheet" th:href="@{/FormClass/CSS/FormClassF8.css}" >
    <script src="/FormClass/js/FormClassF8.js"></script>
    <script>
        const serviceFormClass = new FormClassF8();
    </script>
    <script type="text/javascript">
        $(document).ready(function (){
            console.log("Hello các bạn nhóm F8");
            serviceFormClass.loadInit();
        });
    </script>
    <!---->
    <div class="container px-3 text-center">
        <div class="row gx-3">
            <div class="col-7">
                <div class="p-3" id="titleLeft">List Mentee</div>
                <table class="table table-hover" id="tableListUser">
                    <thead>
                    <tr>
                        <th scope="col">UserId</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gmail</th>
                        <th scope="col">Role Name</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyTableLisUserContent">

                    </tbody>
                </table>
            </div>
            <div class="col-5" id="formDetail">
                <div class="p-3" id="titleRight">Form Detail</div>
                <div class="mb-3 row">
                    <label for="userId" class="col-sm-4 col-form-label">#User Id</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="userId" placeholder="" > <!-- disabled: vô hiệu hóa-->
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="userName" class="col-sm-4 col-form-label">Full Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="userName" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="age" class="col-sm-4 col-form-label">Age</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="age" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="gmail" class="col-sm-4 col-form-label">Gmail</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="gmail" placeholder="">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Role</label>
                    <div class="col-sm-8" id="componentSelectRole">
<!--                        <select id="role" class="form-select form-select-sm" aria-label="small select example">-->
<!--                            <option value="1">Mentor</option>-->
<!--                            <option value="2">Tutor</option>-->
<!--                            <option value="3">Mentee</option>-->
<!--                        </select>-->
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="description" class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="container overflow-hidden text-center">
                    <div class="row gx-5">
                        <div class="col">
                            <div class="p-3">
                                <button type="button" class="btn btn-primary"
                                        th:attr="onclick='serviceFormClass.btnSave_click()'">Save</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <button type="button" class="btn btn-secondary"
                                    th:attr="onclick='serviceFormClass.btnDelete_click()'">Delete</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <button type="button" class="btn btn-success"
                                        th:attr="onclick='serviceFormClass.btnClearForm_click()'" >Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
</div>
</body>
</html>