<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javawebbef8v1.demo.mapper.UserMapper">

    <resultMap id="UserResultMap" type="javawebbef8v1.demo.entities.User">
        <result property="userId" column="USER_ID"></result>
        <result property="userName" column="USER_NAME"></result>
        <result property="age" column="AGE"></result>
        <result property="gmail" column="GMAIL"></result>
        <result property="description" column="DESCRIPTION"></result>
        <result property="roleId" column="ROLE_ID"></result>
        <result property="roleName" column="ROLE_NAME"></result>
    </resultMap>

    <select id="getAllUser" resultMap="UserResultMap">
        SELECT    US.USER_ID
                 ,US.USER_NAME
                 ,US.AGE
                 ,US.GMAIL
                 ,US.DESCRIPTION
                 ,RL.ROLE_ID
                 ,RL.ROLE_NAME
        FROM system.F8_USER US
        LEFT JOIN system.F8_ROLE RL ON US.ROLE_ID = RL.ROLE_ID
        ORDER BY US.USER_ID
    </select>

    <insert id="postUser" parameterType="javawebbef8v1.demo.entities.User">
        INSERT INTO system.F8_USER (USER_ID, USER_NAME, AGE, GMAIL, ROLE_ID, DESCRIPTION)
        VALUES (#{userId}, #{userName}, #{age}, #{gmail}, #{roleId}, #{description})
    </insert>

    <update id="putUser" parameterType="javawebbef8v1.demo.entities.User">
        UPDATE system.F8_USER
        SET USER_NAME = #{userName}
          , AGE = #{age}
          , GMAIL = #{gmail}
          , DESCRIPTION = #{description}
          , ROLE_ID = #{roleId}
        WHERE USER_ID = #{userId}
    </update>

<!--    <delete id="deleteUser" parameterType="javawebbef8v1.demo.entities.User">-->
    <delete id="deleteUser" parameterType="javawebbef8v1.demo.entities.User">
        DELETE
        FROM system.F8_USER
        WHERE USER_ID = #{userId}
    </delete>

    <!-- checkUser-->
    <select id="isExistsUser" parameterType="Integer" resultType="Integer">
        SELECT
            CASE WHEN EXISTS(
                    SELECT 1
                    FROM SYSTEM.F8_USER
                    WHERE USER_ID = #{userId})
            THEN 1 ELSE 0
            END
        FROM dual
    </select>
    <!-- checkUser-->

</mapper>