#formDetail{
    background-color: #F4F4F4;
}

#titleLeft, #titleRight{
    font-size: 25px;
    color: red;
    text-align: center;
}

#titleLeft:hover{
    font-size: 35px;
    color: blue;
    cursor: pointer;
}

#titleRight:hover{
    font-size: 40px;
    color: pink;
    cursor: pointer;
}

tr:hover{
    font-size: 15px;
    cursor: pointer;
}

#tableListUser_filter {
    float: right;
}

#tableListUser_paginate{
    float: left;
}

#tableListUser_paginate a{
    margin: 10px;
    text-decoration: none;
}

#tableListUser_paginate a:hover{
    cursor: pointer;
    background-color: darkgrey;
    color: white;
}



